body{
  margin: 0%;
  padding: 0%;  
}

.container{
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.content{
  width: 80vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);

}

.logo{
  width: 80%;
  height: 45%;
  margin: 0%;
  background-image: url("images/LogoDesKtop.png");
  /* background-size: 85%; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1%;
  margin-bottom: 0.8%;
}

.description{
  width: 60%;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.textDescription{
  padding: 0%;
  margin: 0%;
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: larger;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "slnt" 0;
  color: #4c4c4c;
}

.status{
  width: 68%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 6%;
}

.textStatus{
  padding: 0%;
  margin: 0%;
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings:
  "slnt" 0;
  color: #000000;
  margin-bottom: 2%;
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(160, 201, 105, 0.75));
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #A0C969;
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #A0C969;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #A0C969;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #A0C969;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #A0C969;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #A0C969;
    opacity: 1;
  }
}
    

.collaboration{
  background-color: #fff;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.textCollaboration{
  padding: 0%;
  margin: 0%;
  font-family: "Inter", sans-serif;
  text-align: start;
  font-size: smaller;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "slnt" 0;
  color: #4c4c4c;
}

@media only screen and (max-width: 600px) {
  .content{
    width: 100vw 
  }

  .logo{
    width: 80%;
    height: 45%;
    margin: 0%;
    background-image: url("images/LogoPhone.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0.5%;
    margin-bottom: 0%;
  }

  .description{
    width: 80%;
    margin-bottom: 2%;
  }
  
  .textDescription{
    text-align: center;
    font-size: medium;
  }

  .status{
    width: 80%;
  }

  .collaboration{
    width: 100%;
    margin-top: 5%;
  }
  
  .textCollaboration{
    text-align: start;
  }
}

@media only screen and (max-width: 330px) {

  .collaboration{
    width: 100%;
    margin-top: 8%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .textCollaboration{
    text-align: start;
    margin-bottom: 3%;
  }
}
